@import url("https://fonts.googleapis.com/css?family=Ultra");
@import url("https://fonts.googleapis.com/css?family=Arvo");
@import url("https://fonts.googleapis.com/css?family=Style+Script");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");

.intro{
  display:flex;
  justify-content:space-between;
  align-items:flex-start;
}

.leftside{
  order:1;
  flex-grown:1;
  margin-right:20px;
}

.rightside{
  order:2;
  margin-left:20px;
}

.slogan{
  font-size:40px;
  font-family:"Arvo";
  font-weight:bold;
  color:rgb(203,255,247);
  text-align:center;
}

.text{
  font-size:20px;
  text-align:left;
  font-family: "Roboto Condensed";
  color:rgb(203,255,247);
  background-color:rgb(51, 152, 152);
  border-radius:10px;
  padding:10px;
}
.diagramImg{
  width:300px;
  height:auto;
  padding:5px;
  margin-right:40px;
}

nav{
  position:fixed;
  bottom:30px;
  right:30px;
}

h1{
  font-family: "Ultra";
  font-size: 40px;
  text-align: center;
  color: rgb(3, 54, 95);
}

.center {
  text-align: center;
  border: 3px solid green;
}

.home{
  color:rgb(3, 54, 95);
  border:5px rgb(86, 179, 195) solid;
  border-radius:100px;
  background-color:white;
  text-align:center;
  font-size:60px;
  width:100%;
}

.hyperlink{
  font-family:"Ultra";
  font-size:14px;
  text-align:center;
  color:rgb(203,255,247);
}

.habitat{
  font-family:"Style Script";
  text-align:center;
}

body {
  background-image: url("../images/ocean.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px;

}

.habitatparagraph1 {
  width: 500px;
  font-size: 20px;
  text-align: center;
  font-family: "Roboto Condensed";
  color: rgb(203, 255, 247);
}
